.greeting {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  &__thumbsup {
    font-size: 2em;
    margin: 0;
  }

  &__link {
    text-decoration: none;
  }
}
