html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100%;
  font-family: Tahoma, Verdana, Arial, sans-serif;
  width: 35em;
  margin: 0 auto;
}

@import "./components/**/*.scss";
